.layout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  flex-direction: row;
  margin-top: 150px;
}

.menu__item {
  display: flex;
  align-items: center;
}

.menu__list-right {
  list-style: none;
  padding: 0;
  text-align: end;
}

.profileButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navBar {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.navElement {
  box-sizing: border-box;
  min-width: 320px;
  min-height: 64px;
  display: flex;
  align-items: center;
  color: #8585ad;
}

.activeNavElement {
  box-sizing: border-box;
  min-width: 320px;
  min-height: 64px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
